{% extends 'base.html' %} {% block title %}{{ movie.title }} - Details{%
endblock %} {% block body %}
<h1>{{ movie.title }}</h1>

<p>{{ movie.overview }}</p>

<img src="{{ movie.poster_path }}" />

<form action="/movies/{{ movie.movie_id }}" method="post">
  <label for="email">Your Email:</label>
  <input type="email" name="email" id="email" required />

  <label for="rating_score">Rate this movie:</label>
  <select name="rating_score" id="rating_score">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
  <button type="submit">Submit Rating</button>
</form>
{% endblock %}
